.git
.github
.angular
.vscode
dist
node_modules
test-results
playwright-report
e2e

backend/vendor
backend/node_modules
backend/var
backend/public/build
backend/public/bundles
backend/public/media
backend/public/assets
backend/.env.local
backend/.env.*.local
