{
	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}

	auto_https off
	admin off
	persist_config off
}

:80 {
	root * /app/public
	encode zstd gzip

	handle / {
		rewrite * /index.html
		file_server
	}

	redir /pl_PL /sklep/ permanent
	redir /pl_PL/ /sklep/ permanent

	@immutable path /bundles/* /assets/img/* /main-*.js /chunk-*.js /styles-*.css /polyfills-*.js
	header @immutable Cache-Control "public, max-age=31536000, immutable"

	@build path /build/*
	header @build Cache-Control "public, max-age=0, must-revalidate"

	@theme path /oma/*
	header @theme Cache-Control "public, max-age=60, must-revalidate"

	@media path /media/*
	header @media Cache-Control "public, max-age=604800"

	php_server {
		index index.php
	}
}
